<p>


    {{dato}}

<!--    <button (click)="getAllTasks()">Obtener muchos</button>-->

<!--    <button (click)="getTask()">obtener 1</button>-->

<!--    <button (click)="createTask()">crear</button>-->

<!--    <button (click)="updateTask()">update</button>-->

<!--    <button (click)="deleteTask()">eliminar</button>-->

<!--    <p-button label="Click" ></p-button>-->

    <button pButton type="button"
            label="BOTON DE GET DE MUCHOS DATOS"
            icon="pi pi-check" iconPos="left"
            class="ui-button-success"
            style="background-color: #943728;"
            (click)="getAllTasks()">

    </button>

<!--       <span>-->
<!--           <h3>LOS DATOS VENDRA AQUI</h3>-->

<!--<li *ngFor="let dato of tabla ; let i=index">-->
<!--                <h5>fila {{i+1}}: </h5>-->
<!--        <ul>-->
<!--        <li>{{dato.id}}</li>-->
<!--        <li>{{dato.title}}</li>-->
<!--        </ul>-->

<!--</li>-->
<!--       </span>-->

<!--    -->



<h3 class="first">Basic</h3>
<p-table [value]="tabla">
    <ng-template pTemplate="header">
        <tr>
            <th>userId</th>
            <th>id</th>
            <th>title</th>
            <th>completed</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tabla>
        <tr>

            <td>{{tabla.userId}}</td>
            <td>{{tabla.id}}</td>
            <td>{{tabla.title}}</td>
            <td>{{tabla.completed}}</td>




        </tr>
    </ng-template>
</p-table>





    <span>
         <strong>  {{titulo}} </strong>
    </span>




<!---->
<!---->
<!---->

<div class="ui-g">
    <div class="ui-g-12">
        <div class="card no-margin">
                            <h1>DataTable</h1>

    <p-table [columns]="cols"
             [value]="cars1"
             selectionMode="single"
             dataKey="vin"
             [(selection)]="selectedCar"
             [paginator]="true"
             [rows]="10"
             [responsive]="true"
             paginatorPosition="both"
             [responsive]="true">

        <ng-template pTemplate="caption">
            Simple tabla
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>

        </div>
    </div>
    <div class="ui-g-12">

</div>
