<p>


    {{dato}}

<!--    <button (click)="getAllTasks()">Obtener muchos</button>-->

<!--    <button (click)="getTask()">obtener 1</button>-->

<!--    <button (click)="createTask()">crear</button>-->

<!--    <button (click)="updateTask()">update</button>-->

<!--    <button (click)="deleteTask()">eliminar</button>-->

<!--    <p-button label="Click" ></p-button>-->

    <button pButton type="button"
            label="BOTON DE GET DE MUCHOS DATOS"
            icon="pi pi-check" iconPos="left"
            class="ui-button-success"
            style="background-color: #943728;"
            (click)="getAllTasks()">

    </button>

<!--       <span>-->
<!--           <h3>LOS DATOS VENDRA AQUI</h3>-->

<!--<li *ngFor="let dato of tabla ; let i=index">-->
<!--                <h5>fila {{i+1}}: </h5>-->
<!--        <ul>-->
<!--        <li>{{dato.id}}</li>-->
<!--        <li>{{dato.title}}</li>-->
<!--        </ul>-->

<!--</li>-->
<!--       </span>-->

<!--    -->



<h3 class="first">Basic</h3>
<p-table [value]="tabla">
    <ng-template pTemplate="header">
        <tr>
            <th>Uno</th>
            <th>Dos</th>
            <th>Uno</th>
            <th>Dos</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tabla>
        <tr>
            <td>{{tabla.completed}}</td>
            <td>{{tabla.id}}</td>
            <td>{{tabla.title}}</td>

            <td>{{tabla.userId}}</td>

        </tr>
    </ng-template>
</p-table>





    <span>
         <strong>  {{titulo}} </strong>
    </span>





