<div class="layout-wrapper" (click)="onLayoutClick()"
     [ngClass]="{'layout-horizontal': isHorizontal(),
                 'layout-overlay': isOverlay(),
                 'layout-static': isStatic(),
                 'layout-slim':isSlim(),
                 'layout-static-inactive': staticMenuDesktopInactive,
                 'layout-mobile-active': staticMenuMobileActive,
                 'layout-overlay-active':overlayMenuActive}">

    <app-topbar></app-topbar>  <!--header principal -->


    <div class="layout-menu-container" (click)="onMenuClick($event)">
        <p-scrollPanel #layoutMenuScroller [style]="{height: '100%'}">
            <div class="layout-menu-content">
                <div class="layout-menu-title">MI MENU</div>
                <app-menu [reset]="resetMenu"></app-menu>  <!-- componente del menu -->

                                                        <!--    <div class="layout-menu-footer">-->
                                                        <!--        <div class="layout-menu-footer-title">TAREAS</div>-->

                                                        <!--        <div class="layout-menu-footer-content">-->
                                                        <!--            <p-progressBar [value]="50" [showValue]="false"></p-progressBar>-->
                                                        <!--            TAREAS DE HOY-->

                                                        <!--            <p-progressBar [value]="80" [showValue]="true"></p-progressBar>-->
                                                        <!--            EN GENERAL(GLBAL)-->
                                                        <!--        </div>-->
                                                        <!--        -->
                                                        <!--    </div>-->
            </div>
        </p-scrollPanel>
    </div>




    <div class="layout-content">
                            <app-breadcrumb>  </app-breadcrumb>  <!-- header 2 secundario -->

        <div class="layout-content-container">
          <router-outlet></router-outlet>   <!-- centro donde se cargan todas las rutas -->
        </div>
                            <app-footer></app-footer>  <!-- footer -->
        <div class="layout-mask" *ngIf="staticMenuMobileActive"></div>
    </div>
</div>
